.parallax-container {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  perspective: 1px;
}

.parallax-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

.content {
  top: 15rem;
  position: relative;
  padding: 50px;
  text-align: left;
  color: black;
  margin-left: 20px;
  z-index: 1;
}

.title {
  font-weight: bold;
  color: #FF4C3B;
}

.subtitle {
  font-size: 5xl;
  font-weight: semi-bold;
  color: gray;
}

.offer {
  margin-top: 20px;
  font-size: 3xl;
  font-weight: semi-bold;
  color: rgb(129, 122, 122);
}

@media (max-width: 768px) {
  .parallax-bg {
    width: 100vw;
  }

  .title {
    font-size: 15vw;
  }

  .subtitle {
    font-size: 8vw;
  }

  .offer {
    font-size: 6vw;
  }
}

@media (max-width: 480px) {
  .parallax-bg {
    width: 100vw;
  }

  .title {
    font-size: 15vw;
  }

  .subtitle {
    font-size: 10vw;
  }

  .offer {
    font-size: 8vw;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 5vw;
  }

  .subtitle {
    font-size: 3vw;
  }

  .offer {
    font-size: 2vw;
  }
}